{% extends "Base.html" %}

{% block title %} Product | View {% endblock %}

{% block body %}

<div class="childCategory">
    <div>
        <div>
            <img class="productImage" src="{{url}}/Images/{{productData.image}}" alt="{{productData.productName}}">
        </div>
        <div class="productImageName">
            <b>{{productData.productName}}</b>
        </div>        
    </div>

    <div class="productDetail">
        <div class="productIteam">
            Product Name : <span id="abc">{{productData.productName}}</span>
            
            <input type="hidden" name="productName" id="productName" value="{{productData.productName}}">
            <script>
                productName = "{{productData.productName}}";
                
            </script>
        </div>
        <div class="productIteam">
            Price : &#8377; <b>{{productData.price}}</b>
            <input type="hidden" name="productPrice" id="productPrice" value="{{productData.price}}">
        </div>

        <div class="productIteam">
            {% if productData.stock != 0 %}
                <span class="inStock">In Stock</span>

            {% else %}
                <span class="outStock">Out Of Stock</span>

            {% endif %}
            
        </div>

        <div class="productIteam">
            Description: {{productData.description}}
        </div>
        
        <div class="row productIteam">
            
            <div class="col-lg-2">
                <div class="input-group">
                    
                    <span class="input-group-btn">
                        
                        <button type="button" class="quantity-left-minus btn btn-danger btn-number"  data-type="minus" data-field="">
                            <span class="glyphicon glyphicon-minus"></span>
                        </button>
                    </span>

                    <input type="text" id="quantity" name="quantity" class="form-control" style="width: 50px; text-align: center;" value="1" min="1" max="{{productData.stock}}" disabled>

                    <span class="input-group-btn">
                        <button type="button" class="quantity-right-plus btn btn-success btn-number" data-type="plus" data-field="">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>

        <div class="productIteam">
            <button class="btn btn-success">Buy</button>
            <button class="btn btn-danger addToCartBtn" id="cart">Add To Cart</button>
            <script>
                document.querySelector("#cart").addEventListener('click', function() {
                    var quantity = parseInt($('#quantity').val());
                    var data = { productName: "{{productData.UrlKey}}", price : "{{productData.price}}", qunt : quantity};
                    addToCart(data);
                });
            </script>
        </div>
    </div>
</div>


{% endblock %}