<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% set url = 'http://localhost/MVC/Public' %}

    <link type="text/css" rel="stylesheet" href="{{ url }}/css/style.css">

    <title>{% block title %} {% endblock %}</title>
</head>
<body>
<div>
    <header>
        <nav>
            <a class="headeFooter" href="{{ url }}/"> Home </a>  
            <a class="headeFooter" href="{{ url }}/product"> Product </a>
        </nav>
    </header>
</div>


<div>
    {% block body %}
    {% endblock %}
</div>

<div>
    <footer>
        <ul>
            <li><a class="headeFooter" href="{{ url }}/"> Home </a></li>
            <li><a class="headeFooter" href="{{ url }}/product"> Product </a></li>
        </ul>
    </footer>
</div>

</body>
</html>